
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Account Validation</title>
</h:head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->

				<h:graphicImage library="img" name="logoresized.jpg" />
				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml" >Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml" >About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml" >Auctions</h:outputLink>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>
                </h:panelGroup>
				
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<!-- 				<h:commandButton value=" Start" action="login.xhtml" -->
			<!-- 					styleClass="startButton" /> -->

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />
			<!-- 				<h:graphicImage library="img" name="steps.jpg" alt="steps" -->
			<!-- 					class="step" /> -->
		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block" >

			<!-- 	Left Bottom Side 	-->
			<h:form>
				



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block" style="width: 95%;">

					<!-- 				Copy from here!!!! -->


					
						<p:dataScroller value="#{verifyAccount.pendingAccounts}"
							var="account" chunkSize="10" >
							<f:facet name="header">
            Scroll Down to Load More Pending Accounts
        </f:facet>

							<h:panelGrid columns="1" style="width:100%"
								columnClasses="logo,detail">


								<p:outputPanel>
									<h:panelGrid columns="2" cellpadding="5">
										<h:outputText value="Email:" />
										<h:outputText value="#{account.email}"
											style="font-weight: bold" />

										<h:outputText value="First name:" />
										<h:outputText value="#{account.firstName}"
											style="font-weight: bold" />

										<h:outputText value="Last name:" />
										<h:outputText value="#{account.lastName}"
											style="font-weight: bold" />

										<h:outputText value="Username:" />
										<h:outputText value="#{account.username}"
											style="font-weight: bold" />

										<h:outputText value="Address:" />
										<h:outputText value="#{account.address}"
											style="font-weight: bold" />

										<h:commandButton value="Accept"
											action="#{verifyAccount.transmitAccept()}">
											<f:param name="username" value="#{account.username}" />
										</h:commandButton>
										<h:commandButton value="Reject"
											action="#{verifyAccount.transmitReject()}">
											<f:param name="username" value="#{account.username}" />
										</h:commandButton>
									</h:panelGrid>
								</p:outputPanel>
							</h:panelGrid>
						</p:dataScroller>
					


					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
