
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Auction</title>
</h:head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->

				<h:graphicImage library="img" name="logoresized.jpg" />
				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
				<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml" >Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml" >About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml" >Auctions</h:outputLink>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>
                </h:panelGroup>
				
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<!-- 				<h:commandButton value=" Start" action="login.xhtml" -->
			<!-- 					styleClass="startButton" /> -->

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />
			<!-- 				<h:graphicImage library="img" name="steps.jpg" alt="steps" -->
			<!-- 					class="step" /> -->
		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block">

			<!-- 	Left Bottom Side 	-->
			<h:form>
				<h:panelGroup class="sidebar" layout="block">

					<h:panelGroup class="sidebarBottomTitle" layout="block">
						<h:outputText value="Working"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList" layout="block">
						<ul class="none">
							<li><h:commandLink value="My auctions"
									action="myAuctions.xhtml"></h:commandLink></li>
							<li><h:link value="My profile"
									outcome="viewProfile.xhtml?username=#{login.username}"></h:link></li>
							<li><h:commandLink value="Create Auction"
									action="createAuction"></h:commandLink></li>
							<li><h:commandLink value="Auction List Page"
									action="auctionListPage"></h:commandLink></li>
							<li><h:commandLink value="Edit Profile" action="editProfile"></h:commandLink></li>
						</ul>
					</h:panelGroup>


				</h:panelGroup>



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block">

					<!-- 				Copy from here!!!! -->
					
					<center>
						<h:form>
							<p:panelGrid columns="2" >
								<f:facet name="header">
								</f:facet>
								<h:outputLabel value="Product:" />
								<h:outputText value="#{detailsPage.product.name}" />

								<h:outputLabel value="Description:" />
								<h:outputText value="#{detailsPage.product.description}" />

								<h:outputLabel value="Seller:" />
								<h:outputText value="#{detailsPage.seller.username}" />

								<h:outputLabel value="Auction ending date:" />
								<h:outputText value="#{detailsPage.auction.dueDate}" />

								<h:outputLabel value="Starting Price:" />
								<h:outputText value="#{detailsPage.auction.startingPrice}" />

								<h:outputLabel value="Current Price:" />
								<h:outputText value="#{detailsPage.currentPrice}" />

								<h:outputLabel value="Minimum bid: #{detailsPage.minBid}" />
								<h:inputText value="#{detailsPage.amount}" />

							</p:panelGrid>

							<br></br>
							<p:commandButton value="Place Bid"
								action="#{detailsPage.placeBid}" />
							<p:button value="Back to Auction Listing Page"
								outcome="auctionListPage.xhtml" />
						</h:form>
						<br></br>
						<p:spacer height="50"></p:spacer>
						<p:outputLabel value="#{detailsPage.infoMessage}"></p:outputLabel>
						<br></br>
						<p:spacer height="50"></p:spacer>
						<br></br>
						<p:dataTable var="review" value="#{detailsPage.reviews}">
									<p:column headerText="User" width="20%">
										<h:outputText value="#{review.idAuction}" />
									</p:column>
									<p:column headerText="Rating" width="20%">
										<h:outputText value="#{review.rating}" />
									</p:column>
									<p:column headerText="Description" width="50%">
										<h:outputText value="#{review.description}" />
									</p:column>

								</p:dataTable>
					</center>
					
					
					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
