
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Auction List</title>
</h:head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->
 
				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml">Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml">About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml">Auctions</h:outputLink>
					<h:outputText value="|" class="paddingRight10px"></h:outputText>
				</h:panelGroup>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml" target="_blank">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />
		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block">

			<!-- 	Left Bottom Side 	-->
			<h:form>
				<h:panelGroup class="sidebar" layout="block">

					<h:panelGroup class="sidebarBottomTitle" layout="block">
						<h:outputText value="Options"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList" layout="block">
						<ul class="none">
							<li><h:commandLink value="My auctions"
									action="myAuctions.xhtml"></h:commandLink></li>
							<li><h:link value="My profile"
									outcome="viewProfile.xhtml?username=#{login.username}"></h:link></li>
							<li><h:commandLink value="Create Auction"
									action="createAuction"></h:commandLink></li>
							<li><h:commandLink value="Auction List Page"
									action="auctionListPage"></h:commandLink></li>
							<li><h:commandLink value="Edit Profile" 
									action="editProfile"></h:commandLink></li>
					
						</ul>
					</h:panelGroup>


					<h:panelGroup class="sidebarBottomTitle2" layout="block">
						<h:outputText value="Most Trusted Sellers"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList2" layout="block">
						<ul class="none">
							<li><h:commandLink value="Person1"></h:commandLink></li>
							<li><h:commandLink value="Person2"></h:commandLink></li>
							<li><h:commandLink value="Person3"></h:commandLink></li>
							<li><h:commandLink value="Person4"></h:commandLink></li>
							<li><h:commandLink value="Person5"></h:commandLink></li>
							<li><h:commandLink value="Show all persons."></h:commandLink></li>
						</ul>
					</h:panelGroup>
				</h:panelGroup>



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block">

					<!-- 				Copy from here!!!! -->

					<h:form>
						<p:panel header="Search Auction">
							<p:messages id="messages" showDetail="true" autoUpdate="true" />
							<h:panelGrid columns="2" cellpadding="5">
								<h:outputLabel for="productName" value="Product Name:" />
								<p:inputText id="productName"
									value="#{auctionsListView.productName}" />

								<h:outputLabel for="category" value="Category:" />
								<h:selectOneMenu id="category"
									value="#{auctionsListView.category}">
									<f:selectItem itemLabel="Select One" itemValue=""
										noSelectionOption="true" />
									<f:selectItem itemLabel="Accesories" itemValue="Accesories" />
									<f:selectItem itemLabel="Electronics" itemValue="Electronics" />
									<f:selectItem itemLabel="Fashion" itemValue="Fashion" />
									<f:selectItem itemLabel="IT" itemValue="IT" />
									<f:selectItem itemLabel="Sports" itemValue="Sports" />
								</h:selectOneMenu>

								<h:outputLabel for="seller" value="Seller:" />
								<p:inputText id="seller" value="#{auctionsListView.seller}" />

								<h:outputLabel for="minPrice" value="Minimum Price:" />
								<p:inputText id="minPrice" value="#{auctionsListView.minPrice}" />

								<h:outputLabel for="maxPrice" value="Maximum Price:" />
								<p:inputText id="maxPrice" value="#{auctionsListView.maxPrice}" />

								<p:commandButton value="Search"
									action="#{auctionsListView.searchAuction}" />

							</h:panelGrid>
						</p:panel>


						<p:dataTable var="auction"
							value="#{auctionsListView.auctionList }"
							style="margin-bottom:40px">
							<f:facet name="header">
				Auctions list 
			</f:facet>
							<p:column headerText="Product" sortBy="#{auction.productName}"
								width="45%">
								<p:accordionPanel multiple="true" activeIndex="null" >
									<p:tab title="#{auction.productName}">
										<h:outputText value="Seller : #{auction.sellerUsername}"></h:outputText>
										<br></br>
										<h:outputText value="Enter auction to see more details." />
										<br></br>
										<br></br>
										<p:commandLink value="Enter auction"
											action="#{auctionsListView.enterAuction }">
											<f:param name="id" value="#{auction.id}" />
										</p:commandLink>
									</p:tab>
								</p:accordionPanel>
							</p:column>
							<p:column headerText="Starting Price"
								sortBy="#{auction.startingPrice}">
								<h:outputText value="#{auction.startingPrice}"></h:outputText>
							</p:column>
							<p:column headerText="Current Price"
								sortBy="#{auction.currentPrice}">
								<h:outputText value="#{auction.currentPrice}"></h:outputText>
							</p:column>
							<p:column headerText="Due date" sortBy="#{auction.dueDate}"
								width="35%">
								<h:outputText value="#{auction.dueDate}"></h:outputText>
							</p:column>
						</p:dataTable>
					</h:form>

					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
