<!DOCTYPE html>
<html xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core">

<h:head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</h:head>
<body>
	
	<h:form>
    <p:dataTable var="category" value="#{categoryDummy.catList}" style="margin-bottom:40px">
        <f:facet name="header">
            Categories
        </f:facet>
        <p:column headerText="Name" sortBy="#{category.name}">
            <h:commandLink value="#{category.name}" style="text-decoration:none" outcome=""/>
        </p:column>
    </p:dataTable>
    </h:form>
	
</body>
</html>