
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<head>
<link rel="stylesheet" href="/BidOnWeb/styleHomePage.css"
	type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BidOn</title>
</head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	--> 

		
				<h:panelGroup styleClass="trans" layout="block" value=" "
					action="homePage.xhtml" outcome="homePage.xhtml">
					<h:button styleClass="trans1" action="homePage.xhtml"
						outcome="homePage.xhtml"></h:button>
				</h:panelGroup>
				
				
				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml" >Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml" >About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml" >Auctions</h:outputLink>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>
                </h:panelGroup>
				
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml">Contact</h:outputLink>
				</h:panelGroup>


				<!-- 				<h:panelGroup styleClass="searchBar"> -->
				<!-- 					<h:inputText styleClass="searchText"></h:inputText> -->
				<!-- 					<h:commandButton value="Search" action="viewProfile" -->
				<!-- 						styleClass="searchButton"></h:commandButton> -->
				<!-- 				</h:panelGroup> -->


			</div>


			<!-- 	Banner + Steps 		-->
			<div id="featured">
				<h:graphicImage library="img" name="banner.jpg" alt="banner"
					class="featuredImage" />
				<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
					class="dropShadow" />
			</div>


			<div class="image">

				<h:graphicImage library="img" name="back1.jpg" alt="back"
					class="featuredImage" />

				<h:panelGroup display="block" styleClass="group">

					<h1>Accesa Cluj-Napoca</h1>


					<h3>Address:</h3>
					<h4>Cotita 9, 400104</h4>
					<h4>Cluj-Napoca, ROMANIA</h4>

					<h3>Phone:</h3>
					<h4>+40 364 560 700</h4>

					<h3>Fax:</h3>
					<h4>+40 360 814 265</h4>

					<h3>E-mail:</h3>
					<h4>info@accesa.eu</h4>
				</h:panelGroup>

			</div>


			<!--	Footer	 -->

			<h:panelGroup styleClass="footer" layout="block">
				<div class="indentFooter"></div>
				<h:outputText value="&#169; 2014 by Accesa Java Internship"
					class="indentFooter"></h:outputText>
			</h:panelGroup>

		</h:form>
	</div>

</body>
</html>