
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Create Auction</title>
</h:head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->


			
				<h:panelGroup styleClass="trans" layout="block" value=" "
					action="homePage.xhtml" outcome="homePage.xhtml">
					<h:button styleClass="trans1" action="homePage.xhtml"
						outcome="homePage.xhtml"></h:button>
				</h:panelGroup>

				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml">Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml">About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml">Auctions</h:outputLink>
					<h:outputText value="|" class="paddingRight10px"></h:outputText>
				</h:panelGroup>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<!-- 				<h:commandButton value=" Start" action="login.xhtml" -->
			<!-- 					styleClass="startButton" /> -->

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />

		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block">

			<!-- 	Left Bottom Side 	-->
			<h:form>
				<h:panelGroup class="sidebar" layout="block">

					<h:panelGroup class="sidebarBottomTitle" layout="block">
						<h:outputText value="Options"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList" layout="block">
						<ul class="none">
							<li><h:commandLink value="My auctions"
									action="myAuctions.xhtml"></h:commandLink></li>
							<li><h:link value="My profile"
									outcome="viewProfile.xhtml?username=#{login.username}"></h:link></li>
							<li><h:commandLink value="Create Auction"
									action="createAuction"></h:commandLink></li>
							<li><h:commandLink value="Auction List Page"
									action="auctionListPage"></h:commandLink></li>
							<li><h:commandLink value="Edit Profile" action="editProfile"></h:commandLink></li>
						</ul>
					</h:panelGroup>


				</h:panelGroup>



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block">

					<!-- 				Copy from here!!!! -->





					<p:growl id="growl" sticky="true" showDetail="true" />

					<p:wizard flowListener="#{createAuction.onFlowProcess}">

						<p:tab id="product" title="Product">
							<p:panel header="Product details">
								<p:messages />
								<h:panelGrid columns="3" columnClasses="label, value">

									<h:outputText value="Product Name:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{createAuction.productName}"
										label="ProductName">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>

									<h:outputText value="Description:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{createAuction.description}"
										label="Description">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>

									<h:outputText value="Category:" />
									<p:selectOneMenu id="console" value="#{createAuction.category}">
										<f:selectItem itemLabel="Accesories" itemValue="Accesories" />
									<f:selectItem itemLabel="Electronics" itemValue="Electronics" />
									<f:selectItem itemLabel="Fashion" itemValue="Fashion" />
									<f:selectItem itemLabel="IT" itemValue="IT" />
									<f:selectItem itemLabel="Sports" itemValue="Sports" />
									</p:selectOneMenu>

								</h:panelGrid>
							</p:panel>
						</p:tab>


						<p:tab id="auction" title="Auction">
							<p:panel header="Auction Creation">
								<p:messages />
								<p:panelGrid border="1" columns="2">
									<f:facet name="header">
										<h:outputText value="Create a new auction"></h:outputText>
									</f:facet>
									<h:outputText value="Starting price"></h:outputText>
									<p:inputText value="#{createAuction.startPrice}"
										required="true">
										<f:validateRequired></f:validateRequired>
									</p:inputText>
									<h:outputText value="Increment rate"></h:outputText>
									<p:inputText value="#{createAuction.incrementRate}"
										required="true">
										<f:validateRequired></f:validateRequired>
									</p:inputText>
									<h:outputText value="Due date"></h:outputText>
									<p:calendar id="datetime" value="#{createAuction.date}"
										pattern="MM/dd/yyyy HH:mm:ss"
										actionListener="#{createAuction.click}" required="true" />

								</p:panelGrid>

							</p:panel>
						</p:tab>


						<p:tab id="confirm" title="Confirmation">
							<p:panel header="Confirmation">
								<h:panelGrid id="confirmation" columns="3"
									columnClasses="grid,grid,grid">

									<h:panelGrid columns="2" columnClasses="label, value">
										<h:outputText value="Product Name: " />
										<h:outputText value="#{createAuction.productName}"
											styleClass="outputLabel" />

										<h:outputText value="Description: " />
										<h:outputText value="#{createAuction.description}"
											styleClass="outputLabel" />

										<h:outputText value="Category: " />
										<h:outputText value="#{createAuction.category}"
											styleClass="outputLabel" />

										<h:outputText value="Starting price: " />
										<h:outputText value="#{createAuction.startPrice}"
											styleClass="outputLabel" />

										<h:outputText value="Increment rate: " />
										<h:outputText value="#{createAuction.incrementRate}"
											styleClass="outputLabel" />

										<h:outputText value="Due date: " />
										<h:outputText value="#{createAuction.date}"
											styleClass="outputLabel" />
									</h:panelGrid>

								</h:panelGrid>

								<p:commandButton value="Submit"
									actionListener="#{createAuction.create}">
									<f:param name="username" value="#{login.username}" />
								</p:commandButton>
							</p:panel>
						</p:tab>
					</p:wizard>




					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
