
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Edit Profile</title>
</h:head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->

				<h:graphicImage library="img" name="logoresized.jpg" />
				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml" >Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml" >About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml" >Auctions</h:outputLink>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>
                </h:panelGroup>
				
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml" target="_blank">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<!-- 				<h:commandButton value=" Start" action="login.xhtml" -->
			<!-- 					styleClass="startButton" /> -->

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />
			<!-- 				<h:graphicImage library="img" name="steps.jpg" alt="steps" -->
			<!-- 					class="step" /> -->
		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block">

			<!-- 	Left Bottom Side 	-->
			<h:form>
				<h:panelGroup class="sidebar" layout="block">

					<h:panelGroup class="sidebarBottomTitle" layout="block">
						<h:outputText value="Options"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList" layout="block">
						<ul class="none">
							<li><h:commandLink value="My auctions"
									action="myAuctions.xhtml"></h:commandLink></li>
							<li><h:link value="My profile"
									outcome="viewProfile.xhtml?username=#{login.username}"></h:link></li>
							<li><h:commandLink value="Create Auction"
									action="createAuction"></h:commandLink></li>
							<li><h:commandLink value="Auction List Page"
									action="auctionListPage"></h:commandLink></li>
							<li><h:commandLink value="Edit Profile" action="editProfile"></h:commandLink></li>
						</ul>
					</h:panelGroup>
					

				</h:panelGroup>



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block">

					<!-- 				Copy from here!!!! -->

					<h:form id="editProfileForm">
						<p:accordionPanel multiple="true">
							<p:tab title="Edit Profile">
								<p:messages id="messages" showDetail="true" autoUpdate="true" />
								<p:button value="Back to View Profile"
									outcome="viewProfile.xhtml?username=#{login.username}" />
								<h:panelGrid columns="2" cellpadding="5">
									<p:outputLabel for="username" value="Username:" />
									<p:inputText id="username" value="#{editProfile.user.username}"
										required="true" readonly="true" />

									<p:outputLabel for="firstName" value="First Name:" />
									<p:inputText id="firstName"
										value="#{editProfile.user.firstName}" required="true"
										requiredMessage="First Name is required" />

									<p:outputLabel for="lastName" value="Last Name:" />
									<p:inputText id="lastName" value="#{editProfile.user.lastName}"
										required="true" label="Last Name"
										requiredMessage="Last Name is required" />

									<p:outputLabel for="email" value="E-mail:" />
									<p:inputText id="email" value="#{editProfile.user.email}"
										required="true" readonly="true">
									</p:inputText>

									<p:outputLabel for="phone" value="Phone:" />
									<p:inputText id="phone" value="#{editProfile.user.phone}">
										<f:validator validatorId="checkPhone"></f:validator>
									</p:inputText>

									<p:outputLabel for="country" value="Country:" />
									<p:inputText id="country" value="#{editProfile.country}"
										required="true" requiredMessage="Country is required" />

									<p:outputLabel for="city" value="City:" />
									<p:inputText id="city" value="#{editProfile.city}"
										required="true" requiredMessage="City is required" />

									<p:outputLabel for="street" value="Street:" />
									<p:inputText id="street" value="#{editProfile.street}"
										required="true" requiredMessage="Street is required" />

									<p:outputLabel for="streetNo" value="Street Number:" />
									<p:inputText id="streetNo" value="#{editProfile.streetNo}"
										required="true" requiredMessage="Street Number is required" />

									<p:outputLabel for="bidcoins" value="BidCoins:" />
									<p:inputText id="bidcoins" value="#{editProfile.user.bidcoins}"
										label="BidCoins" />

									<p:commandButton value="Confirm"
										action="#{editProfile.editProfile}" icon="ui-icon-check" />
								</h:panelGrid>
							</p:tab>

							<p:tab title="Change Password">
								<h:panelGrid columns="2" cellpadding="5">
									<p:outputLabel for="oldPassword" value="Old Password:" />
									<p:password id="oldPassword" value="#{editProfile.oldPassword}"
										label="Old Password" />

									<p:outputLabel for="newPassword" value="New Password:" />
									<p:password id="newPassword" value="#{editProfile.newPassword}"
										match="confirmPassword" label="New Password">
									</p:password>

									<h:outputLabel for="confirmPassword"
										value="Confirm New Password:" />
									<p:password id="confirmPassword"
										value="#{editProfile.confirmPassword}"
										label="Confirm New Password">
									</p:password>

									<p:commandButton value="Confirm"
										action="#{editProfile.changePassword}" icon="ui-icon-check" />
								</h:panelGrid>
							</p:tab>
						</p:accordionPanel>
					</h:form>


					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
