
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" href="/BidOnWeb/styleHomePage.css"
		type="text/css" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>BidOn</title>
</h:head>
<body>

	<h:form name="extendAuction" id="extend">

		<p:growl id="msgs" showDetail="true" />

		<h:panelGrid columns="2" cellpadding="5">

			<p:outputLabel for="datetime" value="Datetime:" />
			<p:calendar id="datetime" value="#{extendAuction.date}"
				pattern="MM/dd/yyyy HH:mm:ss" />

		</h:panelGrid>

		<h:inputHidden type="hidden" name="hidden1" id="idHidden"
			value="#{extendAuction.passedUrlID}" />
		<p:commandButton value="Submit" update="msgs"
			action="#{extendAuction.extend}"
			actionListener="#{extendAuction.click}" icon="ui-icon-check" />


	</h:form>


</body>
</html>
