
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>My Auctions</title>
</h:head>
<body>
 
	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->
				<h:panelGroup styleClass="trans" layout="block" value=" "
					action="homePage.xhtml" outcome="homePage.xhtml">
					<h:button styleClass="trans1" action="homePage.xhtml"
						outcome="homePage.xhtml"></h:button>
				</h:panelGroup>
				
				
				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml" >Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml" >About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml" >Auctions</h:outputLink>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>
                </h:panelGroup>
				
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<!-- 				<h:commandButton value=" Start" action="login.xhtml" -->
			<!-- 					styleClass="startButton" /> -->

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />
			<!-- 				<h:graphicImage library="img" name="steps.jpg" alt="steps" -->
			<!-- 					class="step" /> -->
		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block">

			<!-- 	Left Bottom Side 	-->
			<h:form>
				<h:panelGroup class="sidebar" layout="block">

					<h:panelGroup class="sidebarBottomTitle" layout="block">
						<h:outputText value="Options"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList" layout="block">
						<ul class="none">
							<li><h:commandLink value="My auctions"
									action="myAuctions.xhtml"></h:commandLink></li>
							<li><h:link value="My profile"
									outcome="viewProfile.xhtml?username=#{login.username}"></h:link></li>
							<li><h:commandLink value="Create Auction"
									action="createAuction"></h:commandLink></li>
							<li><h:commandLink value="Auction List Page"
									action="auctionListPage"></h:commandLink></li>
							<li><h:commandLink value="Edit Profile" action="editProfile"></h:commandLink></li>
						</ul>
					</h:panelGroup>


					
				</h:panelGroup>



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block">

					<!-- 				Copy from here!!!! -->


					<center>
						<f:view>
							
								<h:outputText
									value="Auctions #{myAuctions.user.firstName} #{myAuctions.user.lastName} Created" 
									styleClass="headingT"
									style="font-size: 30px;color: red;border-left: 2px;border-left-width: 2px;border-color: green;"
									></h:outputText>
								<h:dataTable value="#{myAuctions.createdAuctions}" var="a"
									styleClass="order-table" headerClass="order-table-header"
									columnClasses="order-table,order-table,order-table,order-table,order-table,order-table">
									<h:column>
										<f:facet name="header">Product</f:facet>

										<h:commandLink value="#{a.productName}" style=" color: black; font-family: sans-serif; font-size: 15px;font-weight: normal;"
											action="#{myAuctions.transmitAuction}">
											<f:param value="#{a.id}" name="id"></f:param>
										</h:commandLink>
									</h:column>
									<h:column>
										<f:facet name="header">Seller</f:facet>

										<h:commandLink value="#{a.sellerUsername}" style=" color: black; font-family: sans-serif; font-size: 15px;font-weight: normal;"
											action="#{myAuctions.transmitUser}">
											<f:param value="#{a.sellerUsername}" name="username"></f:param>
										</h:commandLink>

									</h:column>
									<h:column>
										<f:facet name="header">Starting Price</f:facet>
    				#{a.startingPrice}
    		</h:column>
									<h:column>
										<f:facet name="header">Due Date</f:facet>
    				#{a.dueDate}
    		</h:column>
									<h:column>
										<f:facet name="header">Status</f:facet>
    				#{a.status}
    		</h:column>
									<h:column>
										<f:facet name="header">Current Price</f:facet>
    				#{a.currentPrice}
    		</h:column>
									<h:column>

										<h:commandButton value="Cancel"
											action="#{myAuctions.cancelAuction}"
											rendered="#{a.status ne 'FINISHED'}">
											<f:param value="#{a.id}" name="idAuction"></f:param>
										</h:commandButton>


									</h:column>
								</h:dataTable>

								<h:outputText
									value="Auctions #{myAuctions.user.firstName} #{myAuctions.user.lastName} Won" style="font-size: 30px;color: red;border-left: 2px;border-left-width: 2px;border-color: green;"
									styleClass="heading"></h:outputText>
								<h:dataTable value="#{myAuctions.wonAuctions}" var="a"
									styleClass="order-table" headerClass="order-table-header"
									columnClasses="order-table,order-table,order-table,order-table,order-table,order-table">
									<h:column>
										<f:facet name="header">Product</f:facet>

										<h:commandLink value="#{a.productName}" style=" color: black; font-family: sans-serif; font-size: 15px;font-weight: normal;"
											action="#{myAuctions.transmitAuction}">
											<f:param value="#{a.id}" name="id"></f:param>
										</h:commandLink>
									</h:column>
									<h:column>
										<f:facet name="header">Seller</f:facet>

										<h:commandLink value="#{a.sellerUsername}" style=" color: black; font-family: sans-serif; font-size: 15px;font-weight: normal;"
											action="#{myAuctions.transmitUser}">
											<f:param value="#{a.sellerUsername}" name="username"></f:param>
										</h:commandLink>

									</h:column>
									<h:column>
										<f:facet name="header">Starting Price</f:facet>
    				#{a.startingPrice}
    		</h:column>
									<h:column>
										<f:facet name="header">Due Date</f:facet>
    				#{a.dueDate}
    		</h:column>
									<h:column>
										<f:facet name="header">Status</f:facet>
    				#{a.status}
    		</h:column>

									<h:column>
										<f:facet name="header">Current Price</f:facet>
    				#{a.currentPrice}
    		</h:column>

								</h:dataTable>

								<h:commandButton action="homePage.xhtml" value="Home"></h:commandButton>
							
						</f:view>
					</center>

					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
