
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Register</title>
</h:head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->

				<h:panelGroup styleClass="trans" layout="block" value=" "
					action="homePage.xhtml" outcome="homePage.xhtml">
					<h:button styleClass="trans1" action="homePage.xhtml"
						outcome="homePage.xhtml"></h:button>
				</h:panelGroup>

				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml">Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml">About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml">Auctions</h:outputLink>
					<h:outputText value="|" class="paddingRight10px"></h:outputText>
				</h:panelGroup>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<!-- 				<h:commandButton value=" Start" action="login.xhtml" -->
			<!-- 					styleClass="startButton" /> -->

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />
			<!-- 				<h:graphicImage library="img" name="steps.jpg" alt="steps" -->
			<!-- 					class="step" /> -->
		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block">

			<!-- 	Left Bottom Side 	-->
			<h:form>
				<h:panelGroup class="sidebar" layout="block">

					<h:panelGroup class="sidebarBottomTitle" layout="block">
						<h:outputText value="Options"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList" layout="block">
						<ul class="none">
							<li><h:commandLink value="My auctions"
									action="myAuctions.xhtml"></h:commandLink></li>
							<li><h:link value="My profile"
									outcome="viewProfile.xhtml?username=#{login.username}"></h:link></li>
							<li><h:commandLink value="Create Auction"
									action="createAuction"></h:commandLink></li>
							<li><h:commandLink value="Auction List Page"
									action="auctionListPage"></h:commandLink></li>
							<li><h:commandLink value="Edit Profile" action="editProfile"></h:commandLink></li>
						</ul>
					</h:panelGroup>



				</h:panelGroup>



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block">

					<!-- 				Copy from here!!!! -->




					<h:outputText
						value="All * fields must be completed for the registration to be
					successful!"
						styleClass="heading" />

					<br />
					<h:outputText value="#{register.message}" styleClass="heading"></h:outputText>
					<br />


					<p:growl id="growl" sticky="true" showDetail="true" />

					<p:wizard flowListener="#{register.onFlowProcess}">

						<p:tab id="personal" title="Personal">
							<p:panel header="Personal Details">
								<p:messages showDetail="true" autoUpdate="true" />
								<h:panelGrid columns="4" columnClasses="label, value">

									<h:outputText value="Firstname:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.user.firstName}"
										label="Firstname">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>
									<h:messages for="Firstname" styleClass="redFont"></h:messages>

									<h:outputText value="Lastname:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.user.lastName}" label="Lastname">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>
									<h:messages for="Lastname" styleClass="redFont"></h:messages>

								</h:panelGrid>
							</p:panel>
						</p:tab>


						<p:tab id="address" title="Address">
							<p:panel header="Address Details">
								<p:messages showDetail="true" autoUpdate="true" />
								<h:panelGrid columns="4" columnClasses="label, value">

									<h:outputText value="Country:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.country}" label="Country">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>
									<h:messages for="Country" styleClass="redFont"></h:messages>

									<h:outputText value="City" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.city}" label="City">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>
									<h:messages for="City" styleClass="redFont"></h:messages>

									<h:outputText value="Street" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.street}" label="Street">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>
									<h:messages for="Street" styleClass="redFont"></h:messages>

									<h:outputText value="Street number" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.streetNo}" label="streetNumber">
										<f:validator validatorId="checkNotNull"></f:validator>
									</p:inputText>
									<h:messages for="streetNumber" styleClass="redFont"></h:messages>

								</h:panelGrid>
							</p:panel>
						</p:tab>


						<p:tab id="contact" title="Contact">
							<p:panel header="Contact Information">
								<p:messages showDetail="true" autoUpdate="true" />
								<h:panelGrid columns="4" columnClasses="label, value">

									<h:outputText value="Email:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.user.email}" label="Email">
										<f:validator validatorId="checkNotNull"></f:validator>
										<f:validator validatorId="checkEmail"></f:validator>
									</p:inputText>
									<h:messages for="Email" styleClass="redFont"></h:messages>

									<h:outputText value="Phone:" />
									<h:outputText value="" styleClass="redFont" />
									<p:inputText value="#{register.user.phone}" label="Phone">
										<f:validator validatorId="checkPhone"></f:validator>
									</p:inputText>
									<h:messages for="Phone" styleClass="redFont"></h:messages>

								</h:panelGrid>
							</p:panel>
						</p:tab>


						<p:tab id="logIn" title="LogIn Information">
							<p:panel header="LogIn Information">
								<p:messages showDetail="true" autoUpdate="true" />
								<h:panelGrid columns="4" columnClasses="label, value">

									<h:outputText value="Username:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:inputText value="#{register.user.username}" label="Username">
										<f:validator validatorId="checkNotNull"></f:validator>
										<f:validator validatorId="checkUsername"></f:validator>
									</p:inputText>
									<h:messages for="Username" styleClass="redFont"></h:messages>

									<h:outputText value="Password:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:password id="password" value="#{register.user.password}"
										label="Password" match="confirmPassword">
										<f:validator validatorId="checkNotNull"></f:validator>
										<f:validator validatorId="checkPassword"></f:validator>
									</p:password>
									<h:messages for="Password" styleClass="redFont"></h:messages>

									<h:outputText value="Retype your password:" />
									<h:outputText value="*" styleClass="redFont" />
									<p:password id="confirmPassword" value="#{register.rePass}"
										label="Retype your password">
									</p:password>
									<h:outputText value="" styleClass="redFont" />

								</h:panelGrid>
							</p:panel>
						</p:tab>


						<p:tab id="confirm" title="Confirmation">
							<p:panel header="Confirmation">
								<h:panelGrid id="confirmation" columns="3" cellpadding="10"
									columnClasses="grid,grid,grid">

									<h:panelGrid columns="2" columnClasses="label, value">
										<h:outputText value="Firstname: " />
										<h:outputText value="#{register.user.firstName}"
											styleClass="outputLabel" />

										<h:outputText value="Lastname: " />
										<h:outputText value="#{register.user.lastName}"
											styleClass="outputLabel" />

										<h:outputText value="Username: " />
										<h:outputText value="#{register.user.username}"
											styleClass="outputLabel" />
									</h:panelGrid>


									<h:panelGrid columns="2" columnClasses="label, value">
										<h:outputText value="Country: " />
										<h:outputText value="#{register.country}"
											styleClass="outputLabel" />

										<h:outputText value="City: " />
										<h:outputText value="#{register.city}"
											styleClass="outputLabel" />

										<h:outputText value="Street: " />
										<h:outputText value="#{register.street}"
											styleClass="outputLabel" />

										<h:outputText value="Street Number: " />
										<h:outputText value="#{register.streetNo}"
											styleClass="outputLabel" />
									</h:panelGrid>


									<h:panelGrid columns="2" columnClasses="label, value">
										<h:outputText value="Email: " />
										<h:outputText value="#{register.user.email}"
											styleClass="outputLabel" />

										<h:outputText value="Phone " />
										<h:outputText value="#{register.user.phone}"
											styleClass="outputLabel" />
									</h:panelGrid>

								</h:panelGrid>

								<p:commandButton value="Submit" action="#{register.transmit}" />
							</p:panel>
						</p:tab>
					</p:wizard>




					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
