<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Search Auction</title>
</h:head>
<body>
	<h:form>
		<p:panel header="Search Auction">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<h:outputLabel for="productName" value="Product Name:" />
				<p:inputText id="productName" value="" />

				<h:outputLabel for="category" value="Category:" />
				<h:selectOneMenu id="category" value="">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItem itemLabel="Option 1" itemValue="1" />
					<f:selectItem itemLabel="Option 2" itemValue="2" />
					<f:selectItem itemLabel="Option 3" itemValue="3" />
				</h:selectOneMenu>

				<h:outputLabel for="seller" value="Seller:" />
				<p:inputText id="seller" value="" />
				
				<h:outputLabel for="minPrice" value="Minimum Price:" />
				<p:inputText id="minPrice" value="" />
				
				<h:outputLabel for="maxPrice" value="Maximum Price:" />
				<p:inputText id="maxPrice" value="" />
				
			</h:panelGrid>
		</p:panel>
	</h:form>

</body>
</html>