@CHARSET "ISO-8859-1";

.redFont {
	color: red;
}

.heading {
	font-size: 200%;
	color: red;
	border-left: 2px;
	border-left-width: 2px;
	border-color: green;
	
}

.Mytable{
	border-left-width: 2px;
	border-color: green;
}
.profile-img {
	width: 150px;
	height: 150px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.button {
	font-size: 200%;
	color: blue;
}

.order-table {
	border: 1px solid black;
	text-align: center;
	
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.subtitle {
	font-size: 200%;
	font-style: italic;
	text-align: center;
	color: black;
	background-color: #c3e1e1;
	display: block;
	width: 15%;
	height: 35%;
}

/*      Styles for top template          */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}

a.hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 100%;
	margin-top: 0;
}

h1 {
	font-size: 20px;
	color: #000;
}

h2 {
	font-size: 16px;
	color: #000;
}

h3 {
	font-size: 12px;
	color: #000;
}

/* Main CSS*/
html {
	background-color: #398f90;
}

#container {
	width: 1400px;
	border: 1px solid #a9c3ccc;
	background: white;
	margin: 2em auto;
}

#header {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#header img {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;

	
}

#nav {background-color; #c3e1e1;
	height: 30px;
	width: 960px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

#nav li a:hover {
	text-decoration: none;
}

#featured {
	overflow: hidden;
	padding-right: 10px;
	margin-top: 10 px;
}

#featured img.featuredImage {
	float: none;
	margin-left: 10px;
	border-top: 5px solid #ececec;
	display: inline-block;
}

#featured img.dropShadow {
	float: none;
	margin-left: 10px;
}

#main {
	position: relative;
	background-color: #ffffff;
	height: 1000px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/*      Styles for bottom template      */
	
	ul.none
	{
		list-style: none;
		padding:0;
	}
	
	.produs{
		width:1800px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
	}
	
	.sidebar{
		display: inline-block;
		width: 400px;
		background-color: white;
		margin-right: 25px;
	}
	
	.prod_container{
		vertical-align:top;
		display: inline-block;
		width:1300px;
		margin-left: 25px;

	}
	
	.productList li{
		margin-left: 10px;
		margin-right:10px;
		background-color: #e4edeb;
		text-align: center;
		font-size: 150%;
		color: black;
		display:inline-block;
	}
	
	
/*          Sidebar Bottom         */

	.sidebarBottomTitle{
		-moz-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		-webkit-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		background-color: #c3e1e1;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #fafafa;
		display:inline-block;
		color:black;
		font-family:Arial;
		font-size:30px;
		font-weight:bold;
		font-style:normal;
		height:40px;
		line-height:40px;
		width:400px;
		text-decoration:none;
		text-align:center;
		margin-top: 20px;
	}
	
	.sidebarBottomList{
		-moz-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		-webkit-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		background-color: #c3e1e1;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #fafafa;
		display:inline-block;
		color:black;
		font-family:Arial;
		font-size:25px;
		font-weight:bold;
		font-style:normal;
		line-height:40px;
		text-decoration:none;
		text-align:center;
		width:400px;
		text-decoration: none;
	}
	
/*          Bottom List        */
	
	.rightBottomTitle{
		-moz-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		-webkit-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		background-color: #c3e1e1;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #fafafa;
		display:inline-block;
		color:black;
		font-family:Arial;
		font-size:30px;
		font-weight:bold;
		font-style:normal;
		height:40px;
		line-height:40px;
		width:1300px;
		text-decoration:none;
		text-align:center;
	}
	
	.rightBottomList{
		padding: 10px;
	}
	
	.product{
		padding: 10px;
	}
	
/*       Right Bottom List Items      */
	
	
	
	.pTitle{
		background-color: #e4edeb;
		font-size: 130%;
		text-align: center;
	}
	
	.pPicture{
		background-color: #e4edeb;
		font-size: 100%;
		text-align: center;
	}
	
	.pTimer{
		background-color: #e4edeb;
		font-size: 100%;
		text-align: center;
	}
	
	.pButton {
		-moz-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		-webkit-box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		box-shadow:inset -3px -2px 0px 0px #b5b5b5;
		background-color:#0aabab;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #fafafa;
		display:inline-block;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:40px;
		line-height:40px;
		width:80px;
		text-decoration:none;
		text-align:center;
}
.pButton:hover {
	background-color:#e4edeb;
}.pButton:active {
	position:relative;
	top:1px;
}

