<<<<<<<
HEAD



 
 @CHARSET "ISO-8859-1";

/*      Styles for top template          */
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote,
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
	kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
	center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#e6e6e6, GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #e6e6e6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #e6e6e6;
}

.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.btn-primary.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	background-color: #4a77d4;
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de),
		to(#4a77d4));
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: linear-gradient(top, #6eb6de, #4a77d4);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de,
		endColorstr=#4a77d4, GradientType=0);
	border: 1px solid #3762bc;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active,
	.btn-primary.disabled, .btn-primary[disabled] {
	filter: none;
	background-color: #4a77d4;
}

.btn-block {
	display: block;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-image: url(resources/img/gplaypattern.png);
	background-color: #D3D3D3;
	background-repeat: repeat;
	background-position: top center;
	/* 	overflow: hidden; */
}

ol, ul {
	list-style-type: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

a.hover {
	text-decoration: underline;
}

/* Main CSS*/
html {
	margin: 0;
	padding: 0;
}

#container {
	width: 1352px;
	border: 1px solid #a9c3ccc;
	background: transparent;
	margin: 2em auto;
}

#header {
	overflow: hidden;
	height: 100%;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	background-image: url(resources/img/head.jpg);
}

#header img {
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 2%;
}

.paddingRight10px {
	padding-left: 10px
}

#navigation {
	background-color: #c3e1e1;
	float: left;
	height: 30px;
	width: 98%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	paddin-left: 1%;
	background-color: #b3dee7;
}

#featured {
	
}

#featured img.featuredImage {
	float: none;
	margin-left: 1%;
	border-top: 8px solid #5b6461;
	display: inline-block;
	width: 98%;
}

#featured img.dropShadow {
	float: none;
	margin-left: 1%;
	width: 98%;
}

#featured img.step {
	float: none;
	margin-left: 10px;
	display: inline-block;
	width: 99%;
	margin-bottom: 10px;
}

#main {
	position: relative;
	background-color: #D3D3D3;
	height: 1000px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.image {
	position: relative;
	width: 100%;
	padding-left: 13px;
}

.group {
	position: absolute;
	top: 110px;
	left: 560px;
	width: 100%;
	padding-left: 10px;
}

.group2 {
	position: absolute;
	top: 150px;
	width: 100%;
	padding-left: 10px;
	left: 640px;
}

h1 {
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	width: 100%;
}

h2 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
	line-height: 1px;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	line-height: 1px;
	margin-top: 30px;
}

h4 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
	line-height: 1px;
	margin-top: 30px;
}

#parag1 {
	top: 50px;
	font-size: 30px;
	margin-left: 30px;
	font-family: serif; align =left;
	line-height: 35px;
	font-style: italic;
	position: absolute;
}

#parag2 {
	top: 50px;
	font-size: 30px;
	margin-left: 1000px;
	font-family: serif; align =right;
	line-height: 35px;
	font-style: italic;
	position: absolute;
}

/*      Styles for bottom template      */
ul.none {
	list-style: none;
	padding: 0;
}

.produs {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
}

.sidebar {
	display: inline-block;
	width: 30%;
	background-color: white;
	margin-right: 15px;
	padding-left: 10px;
	background: transparent;
}

.prod_container {
	/* 	margin-top: 3.55%; */
	vertical-align: top;
	display: inline-block;
	width: 65%;
	margin-left: 25px;
	vertical-align: top;
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
}

.productList li {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #e4edeb;
	text-align: center;
	font-size: 150%;
	color: black;
	display: inline-block;
}

/*           Homepage - lower part   */

/*          Sidebar Bottom         */
.sidebarBottomTitle {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	text-align: center;
	margin-bottom: 8px;
}

.sidebarBottomList {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	text-decoration: none;
	margin-bottom: 30px;
}

/*          Bottom List        */
.rightBottomTitle {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	text-align: center;
}

.rightBottomList {
	padding: 10px;
}

.product {
	padding: 10px;
}

/*       Right Bottom List Items      */
.pTitle {
	background-color: #e4edeb;
	font-size: 130%;
	text-align: center;
}

.pPicture {
	background-color: #e4edeb;
	font-size: 100%;
	text-align: center;
}

.pTimer {
	background-color: #e4edeb;
	font-size: 100%;
	text-align: center;
}

.pButton {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #0aabab;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 80px;
	text-decoration: none;
	text-align: center;
}

.pButton:hover {
	background-color: #e4edeb;
}

.pButton:active {
	position: relative;
	top: 1px;
}

.startButton {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	/* 	background-color: Transparent; */
	background-image: url(resources/img/startButton.jpg);
	cursor: pointer;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	margin-left: 1100px;
	margin-top: 722px;
	position: absolute;
	display: inline-block;
	color: #ffffff;
	font-family: Helvetica;
	font-size: 45px;
	font-weight: bold;
	font-style: normal;
	width: 250px;
	line-height: 40px;
	text-decoration: none;
	text-align: left;
	height: 135px;
	margin-top: 722px;
}

/* Footer */
.footer {
	background-color: #6bbfc2;
	height: 75px;
	margin-top: 30px;
}

.indentFooter {
	margin-left: 39%;
	font-size: 25px;
	color: #484848;
	padding-top: 25px;
}

/*		login modifications     */
#logBox {
	moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	background-image: url(resources/img/greybox.jpg);
	height: 150px;
	width: 400px;
	float: right;
	margin-top: 33px;
	margin-right: 30px;
}

/* Log Out Form */
#Logged {
	margin-top: 10%;
	margin-left: 29%;
}

.logOutBtn {
	margin-left: 15%;
	margin-top: 10px;
}

/* Log In Form */
.logText {
	width: 170px;
	height: 25px;
	margin-bottom: 4px;
	margin-left: 1px;
	margin-right: 5px;
}

#logIn {
	margin-top: 5.5%;
	float: right;
	margin-right: 20px;
}

#Link {
	margin-top: 4%;
}

.commandLink {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	/* 	margin-left: 35px; */
}

.forgot {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	margin-left: 45px;
}

/* Search Bar */
.searchBar {
	margin-left: 460px;
}

.searchText {
	width: 220px;
	height: 39px;
	font-family: sans-serif;
}

.searchButton {
	font-size: 23px;
	font-family: sans-serif;
	width: 120px;
	height: 39px;
}

.searchButton:active {
	position: relative;
	top: 1px;
}

.searchButton:hover {
	background-color: #e4edeb;
}

/* Register Form */
.indication {
	margin-top: 10%;
	margin-left: 10%;
	font-size: 25px;
	color: #ff0080;
	margin-left: 10%;
}

.regWizard {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	margin-bottom: 43%;
}

/* Login Form */
.profile-img {
	margin-top: 30px;
	width: 150px;
	height: 150px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#loginForm {
	
}

.loginComplete {
	margin-left: 34%;
	margin-bottom: 17%;
}

.loginText {
	margin-left: 24%;
	margin-bottom: 5%;
	margin-top: 20%;
}

.order-table {
	border: 1px solid black;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
	font-family: serif;
	font-size: 25px;
	font-weight: bold;
}

.viewProfileForm {
	
}

.headingT {
	font-size: 30px;
	color: red;
	border-left: 2px;
	border-left-width: 2px;
	border-color: green;
}

=======
<<<<<<<
HEAD



 
 @CHARSET "ISO-8859-1";

/*      Styles for top template          */
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote,
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
	kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
	center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#e6e6e6, GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #e6e6e6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #e6e6e6;
}

.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.btn-primary.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	background-color: #4a77d4;
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de),
		to(#4a77d4));
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: linear-gradient(top, #6eb6de, #4a77d4);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de,
		endColorstr=#4a77d4, GradientType=0);
	border: 1px solid #3762bc;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active,
	.btn-primary.disabled, .btn-primary[disabled] {
	filter: none;
	background-color: #4a77d4;
}

.btn-block {
	display: block;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-image: url(resources/img/gplaypattern.png);
	background-color: #D3D3D3;
	background-repeat: repeat;
	background-position: top center;
	/* 	overflow: hidden; */
}

ol, ul {
	list-style-type: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

a.hover {
	text-decoration: underline;
}

/* Main CSS*/
html {
	margin: 0;
	padding: 0;
}

#container {
	width: 1352px;
	border: 1px solid #a9c3ccc;
	background: transparent;
	margin: 2em auto;
}

#header {
	overflow: hidden;
	height: 100%;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	background-image: url(resources/img/head.jpg);
}

#header img {
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 2%;
}

.paddingRight10px {
	padding-left: 10px
}

#navigation {
	background-color: #c3e1e1;
	float: left;
	height: 30px;
	width: 98%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	paddin-left: 1%;
	background-color: #b3dee7;
}

#featured {
	
}

#featured img.featuredImage {
	float: none;
	margin-left: 1%;
	border-top: 8px solid #5b6461;
	display: inline-block;
	width: 98%;
}

#featured img.dropShadow {
	float: none;
	margin-left: 1%;
	width: 98%;
}

#featured img.step {
	float: none;
	margin-left: 10px;
	display: inline-block;
	width: 99%;
	margin-bottom: 10px;
}

#main {
	position: relative;
	background-color: #D3D3D3;
	height: 1000px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.image {
	position: relative;
	width: 100%;
	padding-left: 13px;
}

.group {
	position: absolute;
	top: 110px;
	left: 560px;
	width: 100%;
	padding-left: 10px;
}

.group2 {
	position: absolute;
	top: 150px;
	width: 100%;
	padding-left: 10px;
	left: 640px;
}

h1 {
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	width: 100%;
}

h2 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
	line-height: 1px;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	line-height: 1px;
	margin-top: 30px;
}

h4 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
	line-height: 1px;
	margin-top: 30px;
}

#parag1 {
	top: 50px;
	font-size: 30px;
	margin-left: 30px;
	font-family: serif; align =left;
	line-height: 35px;
	font-style: italic;
	position: absolute;
}

#parag2 {
	top: 50px;
	font-size: 30px;
	margin-left: 1000px;
	font-family: serif; align =right;
	line-height: 35px;
	font-style: italic;
	position: absolute;
}

/*      Styles for bottom template      */
ul.none {
	list-style: none;
	padding: 0;
}

.produs {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
}

.sidebar {
	display: inline-block;
	width: 30%;
	background-color: white;
	margin-right: 15px;
	padding-left: 10px;
	background: transparent;
}

.prod_container {
	/* 	margin-top: 3.55%; */
	vertical-align: top;
	display: inline-block;
	width: 65%;
	margin-left: 25px;
	vertical-align: top;
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
}

.productList li {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #e4edeb;
	text-align: center;
	font-size: 150%;
	color: black;
	display: inline-block;
}

/*           Homepage - lower part   */

/*          Sidebar Bottom         */
.sidebarBottomTitle {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	text-align: center;
	margin-bottom: 8px;
}

.sidebarBottomList {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	text-decoration: none;
	margin-bottom: 30px;
}

/*          Bottom List        */
.rightBottomTitle {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	text-align: center;
}

.rightBottomList {
	padding: 10px;
}

.product {
	padding: 10px;
}

/*       Right Bottom List Items      */
.pTitle {
	background-color: #e4edeb;
	font-size: 130%;
	text-align: center;
}

.pPicture {
	background-color: #e4edeb;
	font-size: 100%;
	text-align: center;
}

.pTimer {
	background-color: #e4edeb;
	font-size: 100%;
	text-align: center;
}

.pButton {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #0aabab;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 80px;
	text-decoration: none;
	text-align: center;
}

.pButton:hover {
	background-color: #e4edeb;
}

.pButton:active {
	position: relative;
	top: 1px;
}

.startButton {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	/* 	background-color: Transparent; */
	background-image: url(resources/img/startButton.jpg);
	cursor: pointer;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	margin-left: 1100px;
	margin-top: 722px;
	position: absolute;
	display: inline-block;
	color: #ffffff;
	font-family: Helvetica;
	font-size: 45px;
	font-weight: bold;
	font-style: normal;
	width: 250px;
	line-height: 40px;
	text-decoration: none;
	text-align: left;
	height: 135px;
	margin-top: 722px;
}

/* Footer */
.footer {
	background-color: #6bbfc2;
	height: 75px;
	margin-top: 30px;
}

.indentFooter {
	margin-left: 39%;
	font-size: 25px;
	color: #484848;
	padding-top: 25px;
}

/*		login modifications     */
#logBox {
	moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	/*background-color: #848488;*/
	background-image: url(resources/img/greybox.jpg);
	height: 150px;
	width: 400px;
	float: right;
	margin-top: 33px;
	margin-right: 30px;
	margin-bottom: 20px;
}

/* Log Out Form */
#Logged {
	margin-top: 10%;
	margin-left: 29%;
}

.logOutBtn {
	margin-left: 15%;
	margin-top: 10px;
}

/* Log In Form */
.logText {
	width: 170px;
	height: 25px;
	margin-bottom: 4px;
	margin-left: 1px;
	margin-right: 5px;
}

#logIn {
	margin-top: 5.5%;
	float: right;
	margin-right: 20px;
}

#Link {
	margin-top: 4%;
}

.commandLink {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	/* 	margin-left: 35px; */
}

.forgot {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	margin-left: 45px;
}

/* Search Bar */
.searchBar {
	margin-left: 460px;
}

.searchText {
	width: 220px;
	height: 39px;
	font-family: sans-serif;
}

.searchButton {
	font-size: 23px;
	font-family: sans-serif;
	width: 120px;
	height: 39px;
}

.searchButton:active {
	position: relative;
	top: 1px;
}

.searchButton:hover {
	background-color: #e4edeb;
}

/* Register Form */
.indication {
	margin-top: 10%;
	margin-left: 10%;
	font-size: 25px;
	color: #ff0080;
	margin-left: 10%;
}

.regWizard {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	margin-bottom: 43%;
}

/* Login Form */
.profile-img {
	margin-top: 30px;
	width: 150px;
	height: 150px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#loginForm {
	
}

.loginComplete {
	margin-left: 34%;
	margin-bottom: 17%;
}

.loginText {
	margin-left: 24%;
	margin-bottom: 5%;
	margin-top: 20%;
}

.order-table {
	border: 1px solid black;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
	font-family: serif;
	font-size: 25px;
	font-weight: bold;
}

.viewProfileForm {
	
}

.headingT {
	font-size: 30px;
	color: red;
	border-left: 2px;
	border-left-width: 2px;
	border-color: green;
}

=======
@CHARSET "ISO-8859-1";

/*      Styles for top template          */
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote,
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
	kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
	center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff,
		endColorstr=#e6e6e6, GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #e6e6e6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #e6e6e6;
}

.btn-large {
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.btn-primary.active {
	color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
	background-color: #4a77d4;
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de),
		to(#4a77d4));
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: linear-gradient(top, #6eb6de, #4a77d4);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de,
		endColorstr=#4a77d4, GradientType=0);
	border: 1px solid #3762bc;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.5);
	margin-left: 273px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active,
	.btn-primary.disabled, .btn-primary[disabled] {
	filter: none;
	background-color: #4a77d4;
}

.btn-block {
	display: block;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-image: url(resources/img/gplaypattern.png);
	background-color: #D3D3D3;
	background-repeat: repeat;
	background-position: top center;
	/* 	overflow: hidden; */
}

ol, ul {
	list-style-type: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

a.hover {
	text-decoration: underline;
}

/* Main CSS*/
html {
	margin: 0;
	padding: 0;
}

#container {
	width: 1400px;
	border: 1px solid #a9c3ccc;
	background: transparent;
	margin: 2em auto;
}

#header {
	overflow: hidden;
	height: 100%;
	width: 98%;
	background-image: url(resources/img/head.jpg);
}

#header img {
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 2%;
}

.paddingRight10px {
	padding-left: 10px
}

#navigation {
	background-color: #c3e1e1;
	float: left;
	height: 30px;
	width: 98%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	paddin-left: 1%;
	background-color: #b3dee7;
}

#featured {
	
}

#featured img.featuredImage {
	float: none;
	margin-left: 1%;
	border-top: 8px solid #5b6461;
	display: inline-block;
	width: 98%;
}

#featured img.dropShadow {
	float: none;
	margin-left: 1%;
	width: 98%;
}

#featured img.step {
	float: none;
	margin-left: 10px;
	display: inline-block;
	width: 99%;
	margin-bottom: 10px;
}

#main {
	position: relative;
	background-color: #D3D3D3;
	height: 1000px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.image {
	position: relative;
	width: 100%;
	padding-left: 13px;
}

.group {
	position: absolute;
	top: 100px;
	left: 560px;
	width: 100%;
	padding-left: 10px;
}

.group2 {
	position: absolute;
	top: 150px;
	width: 100%;
	padding-left: 10px;
	left: 640px;
}

h1 {
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	width: 100%;
}

h2 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
	line-height: 1px;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	line-height: 1px;
	margin-top: 30px;
}

h4 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
	line-height: 1px;
	margin-top: 30px;
}

#parag1 {
	top: 50px;
	font-size: 30px;
	margin-left: 30px;
	font-family: serif; align =left;
	line-height: 35px;
	font-style: italic;
	position: absolute;
}

#parag2 {
	top: 50px;
	font-size: 30px;
	margin-left: 1000px;
	font-family: serif; align =right;
	line-height: 35px;
	font-style: italic;
	position: absolute;
}

/*      Styles for bottom template      */
ul.none {
	list-style: none;
	padding: 0;
}

.produs {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	margin-top: 2.5%;
}

.sidebar {
	display: inline-block;
	width: 30%;
	background-color: white;
	margin-right: 15px;
	padding-left: 10px;
	background: transparent;
}

.prod_container {
	/* 	margin-top: 3.55%; */
	vertical-align: top;
	display: inline-block;
	width: 65%;
	margin-left: 25px;
	vertical-align: top;
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
}

.productList li {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #e4edeb;
	text-align: center;
	font-size: 150%;
	color: black;
	display: inline-block;
}

/*           Homepage - lower part   */

/*          Sidebar Bottom         */
.sidebarBottomTitle {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	text-align: center;
	margin-bottom: 8px;
}

.sidebarBottomList {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	text-decoration: none;
	margin-bottom: 30px;
}

.sidebarBottomTitle2 {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	text-align: center;
	margin-bottom: 8px;
	visibility: hidden;
}

.sidebarBottomList2 {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	text-decoration: none;
	margin-bottom: 30px;
	visibility: hidden;
}
/*          Bottom List        */
.rightBottomTitle {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #c3e1e1;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	text-align: center;
}

.rightBottomList {
	padding: 10px;
}

.product {
	padding: 10px;
}

/*       Right Bottom List Items      */
.pTitle {
	background-color: #e4edeb;
	font-size: 130%;
	text-align: center;
}

.pPicture {
	background-color: #e4edeb;
	font-size: 100%;
	text-align: center;
}

.pTimer {
	background-color: #e4edeb;
	font-size: 100%;
	text-align: center;
}

.pButton {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #0aabab;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	border: 1px solid #fafafa;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 80px;
	text-decoration: none;
	text-align: center;
}

.pButton:hover {
	background-color: #e4edeb;
}

.pButton:active {
	position: relative;
	top: 1px;
}

.startButton {
	-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-image: url(resources/img/start.jpg);
	cursor: pointer;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	margin-left: 1100px;
	margin-top: 722px;
	position: absolute;
	display: inline-block;
	color: #ffffff;
	font-family: Helvetica;
	font-size: 45px;
	font-weight: bold;
	font-style: normal;
	width: 250px;
	line-height: 40px;
	text-decoration: none;
	text-align: left;
	height: 135px;
	margin-top: 722px;
}

/* Footer */
.footer {
	background-color: #6bbfc2;
	height: 75px;
	margin-top: 30px;
}

.indentFooter {
	margin-left: 39%;
	font-size: 25px;
	color: #484848;
	padding-top: 25px;
}

/*		login modifications     */
#logBox {
	moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	background-image: url(resources/img/greybox.jpg);
	height: 150px;
	width: 400px;
	float: right;
	margin-top: 33px;
	margin-right: 30px;
}

/* Log Out Form */
#Logged {
	margin-top: 10%;
	margin-left: 10%;
}

.logOutBtn {
	margin-left: 30%;
	margin-top: 10px;
}

/* Log In Form */
.logText {
	width: 170px;
	height: 25px;
	margin-bottom: 4px;
	margin-left: 1px;
	margin-right: 5px;
}

#logIn {
	margin-top: 5.5%;
	float: right;
	margin-right: 20px;
}

#Link {
	margin-top: 4%;
}

.commandLink {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	/* 	margin-left: 35px; */
}

.welcome {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	margin-left: 90px;
}

.viewProfile {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	margin-left: 0px;
	margin-right: 10px;
}

.editProfile {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	margin-left: 20px;
	margin-right: 10px;
}

.myAuctions {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	margin-left: 20px;
	margin-right: 10px;
}

.forgot {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	color: #555555;
	margin-left: 45px;
}

/* Search Bar */
.searchBar {
	margin-left: 460px;
}

.searchText {
	width: 220px;
	height: 39px;
	font-family: sans-serif;
}

.searchButton {
	font-size: 23px;
	font-family: sans-serif;
	width: 120px;
	height: 39px;
}

.searchButton:active {
	position: relative;
	top: 1px;
}

.searchButton:hover {
	background-color: #e4edeb;
}

/* Register Form */
.indication {
	margin-top: 10%;
	margin-left: 10%;
	font-size: 25px;
	color: #ff0080;
	margin-left: 10%;
}

.regWizard {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	margin-bottom: 43%;
}

/* Login Form */
.profile-img {
	margin-top: 30px;
	width: 150px;
	height: 150px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#loginForm {
	
}

.loginComplete {
	margin-left: 34%;
	margin-bottom: 17%;
}

.loginText {
	margin-left: 24%;
	margin-bottom: 5%;
	margin-top: 20%;
}

.order-table {
	border: 1px solid black;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
	font-family: serif;
	font-size: 25px;
	font-weight: bold;
}

.viewProfileForm {
	
}

.headingT {
	font-size: 30px;
	color: red;
	border-left: 2px;
	border-left-width: 2px;
	border-color: green;
}

.trans {
	background-color: Transparent;
	width: 380px;
	height: 140px;
	position: absolute;
	margin-top: 25px;
	margin-left: 20px;
	cursor: pointer;
}

.trans1 {
	background-color: Transparent;
	width: 380px;
	height: 140px;
	position: absolute;
	cursor: pointer;
	border: 0px;
}

.logo {
	positiom: relative;
}

.Box1 {
	moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	background-image: url(resources/img/Box.jpg);
	height: 350px;
	width: 270px;
	margin-top: 0px;
	right: 400px;
	position:absolute;
}

.Box2 {
	moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	background-image: url(resources/img/Box.jpg);
	height: 350px;
	width: 270px;
	margin-top: 0px;
	right: 300px;
	margin-left:15%;
    

}
.productimg {
	position: relative;
	margin-top: 70px;
	margin-left: 8px;
}

}
#header {
	overflow: hidden;
	height: 100%;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	background-image: url(resources/img/head.jpg);
}

#header img {
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 2%;
/*	margin-top: 75px;
    margin-left: 10px;*/
}

.bid {
	height: 50px;
	width: 90px;
	margin-top: 100px; 
	margin-left : 90px;
	position: relative;
	margin-left: 90px;
	
		-moz-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	-webkit-box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	box-shadow: inset -3px -2px 0px 0px #b5b5b5;
	background-color: #5eabcc;
	cursor: pointer;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	text-indent: 0;
	display: inline-block;
	color: #ffffff;
	font-family: Helvetica;
	font-size: 20px; 
	font-weight: bold;
	font-style: normal;
	line-height: 40px; 
	text-decoration: none;
	text-align: center;
}