@CHARSET "ISO-8859-1";

*      Styles for top template          */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
        vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-image: url(resources/img/gradientgrey.jpg);
	background-position: top center;
	background-repeat: no-repeat;

}

ol, ul {
	list-style-type: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

a.hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 100%;
	margin-top: 0;
}

h1 {
	font-size: 20px;
	color: #000;
}

h2 {
	font-size: 16px;
	color: #000;
}

h3 {
	font-size: 12px;
	color: #000;
}

/* Main CSS*/
html {
 width:1899px;
 margin:0;
 padding:0;
 
}

#container {
	width: 1710px;
	border: 1px solid #a9c3ccc;
	background: white;
	margin: 2em auto;
	
}

#header {
	overflow: hidden;
	height: 100%;
	width: 100%;
	
}

#logIn {
	position: absolute;
	top: 20%;
	left: 80%;
	margin: -50px 0 0 -150px;
	width: 3000px;
	height: 3000px;
}

#header img {
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	margin-top: 2%;
	
}

.paddingRight10px {
	padding-right: 10px
}

#nav {
	background-color: #c3e1e1;
	float: left;
	height: 30px;
	width: 98%;
	margin-left: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #b3dee7;
	
}

#featured {
	overflow: visible;
	padding-right: 1%;
	margin-top: 1%;
	position: relative;
	
}

#featured img.featuredImage {
	float: none;
	margin-left: 1%;
	border-top: 8px solid #5b6461;
	display: inline-block;
   
}

#featured img.dropShadow {
	float: none;
	margin-top: 0px;
	margin-left: 0%;
	
}
.image { 
   position: relative; 
   width: 100%; 
   padding-left:13px;
}

.group { 
   position: absolute; 
   top: 190px; 
   left:690px; 
   width: 90%; 
   padding-left:10px;
   
}

h1 {
	text-decoration: none;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
    
}
 
h2 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
	line-height:1px;
}

h3 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	line-height:1px;
}

h4 {
	text-decoration: none;
	color: black;
	font-family: serif;
	font-size: 30px;
	font-style: italic;
    line-height:1px;
}
}







