
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pl="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<link rel="stylesheet" type="text/css"
		href="/BidOnWeb/styleHomePage.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>My Profile</title>
</h:head>
<body>

	<div id="container">

		<h:form>
			<div id="header">

				<!--	Log In Form 	-->


				<h:panelGroup styleClass="trans" layout="block" value=" "
					action="homePage.xhtml" outcome="homePage.xhtml">
					<h:button styleClass="trans1" action="homePage.xhtml"
						outcome="homePage.xhtml"></h:button>
				</h:panelGroup>



				<div id="logBox">
					<c:choose>
						<c:when test="${empty login.username}">
							<div id="logIn">
								<h:form method="post">
									<h:inputText type="text" name="u" pl:placeholder="Username"
										value="#{login.username}" required="true" class="logText" />

									<h:inputSecret type="password" name="p"
										pl:placeholder="Password" required="true"
										value="#{login.password}" class="logText" />
								</h:form>
								<h:commandButton class="btn btn-primary btn-block btn-large"
									value="SIGN IN" action="#{login.login}"></h:commandButton>

								<div id="Link">
									<h:link value="Sign Up!" outcome="register.xhtml"
										class="commandLink">
									</h:link>
									<h:link value="Forgot Password!" outcome="forgotPassword.xhtml"
										class="forgot">
									</h:link>
								</div>
							</div>

							<!-- 	Already Loged In	 -->

						</c:when>
						<c:otherwise>
							<div id="Logged">

								<h:outputText value="Welcome, #{login.username}!"
									class="commandLink"></h:outputText>
								<h:commandButton
									class="btn btn-primary btn-block btn-large logOutBtn"
									value="Log Out" action="#{logout.logout}">
								</h:commandButton>

							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</h:form>

		<!-- 	Navigation Bar 		-->

		<h:form>
			<div id="navigation">
				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="homePage.xhtml">Home</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="aboutUs.xhtml">About Us</h:outputLink>
				</h:panelGroup>
				<h:outputText value="|" class="paddingRight10px"></h:outputText>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="auctionListPage.xhtml">Auctions</h:outputLink>
					<h:outputText value="|" class="paddingRight10px"></h:outputText>
				</h:panelGroup>

				<h:panelGroup display="block" styleClass="paddingRight10px">
					<h:outputLink value="contact.xhtml">Contact</h:outputLink>
				</h:panelGroup>
			</div>
		</h:form>

		<!-- 	Banner + Steps 		-->

		<div id="featured">

			<!-- 				<h:commandButton value=" Start" action="login.xhtml" -->
			<!-- 					styleClass="startButton" /> -->

			<h:graphicImage library="img" name="banner.jpg" alt="banner"
				class="featuredImage" />
			<h:graphicImage library="img" name="dropshadow.jpg" alt="dropshadow"
				class="dropShadow" />

		</div>




		<!-- 	BOTTOM HOME PAGE	 -->


		<h:panelGroup class="produs" layout="block">

			<!-- 	Left Bottom Side 	-->
			<h:form>
				<h:panelGroup class="sidebar" layout="block">

					<h:panelGroup class="sidebarBottomTitle" layout="block">
						<h:outputText value="Options"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList" layout="block">
						<ul class="none">
							<li><h:commandLink value="My auctions"
									action="myAuctions.xhtml"></h:commandLink></li>
							<li><h:link value="My profile"
									outcome="viewProfile.xhtml?username=#{login.username}"></h:link></li>
							<li><h:commandLink value="Create Auction"
									action="createAuction"></h:commandLink></li>
							<li><h:commandLink value="Auction List Page"
									action="auctionListPage"></h:commandLink></li>
							<li><h:commandLink value="Edit Profile" action="editProfile"></h:commandLink></li>
						</ul>
					</h:panelGroup>


					<h:panelGroup class="sidebarBottomTitle2" layout="block">
						<h:outputText value="Most Trusted Sellers"></h:outputText>
					</h:panelGroup>

					<h:panelGroup class="sidebarBottomList2" layout="block">
						<ul class="none">
							<li><h:commandLink value="Person1"></h:commandLink></li>
							<li><h:commandLink value="Person2"></h:commandLink></li>
							<li><h:commandLink value="Person3"></h:commandLink></li>
							<li><h:commandLink value="Person4"></h:commandLink></li>
							<li><h:commandLink value="Person5"></h:commandLink></li>
							<li><h:commandLink value="Show all persons."></h:commandLink></li>
						</ul>
					</h:panelGroup>
				</h:panelGroup>



				<!-- 	Right Bottom Side 	-->
				<h:panelGroup class="prod_container" layout="block">

					<!-- 				Copy from here!!!! -->



					<p:layout>
						<p:layoutUnit position="west" resizable="false" size="300">
							<p:panelGrid>
								<p:row>
									<p:column colspan="2">
										<p:graphicImage
											url="http://www.hdrspotting.com/images/default_profile.jpg"
											width="250" height="280" />
									</p:column>
								</p:row>
								<p:row>
									<p:column colspan="2" style="text-align: center;">
										<h:outputText value="#{viewProfile.username}"
											style="font-weight: bold;"></h:outputText>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText value="Rating:" />
									</p:column>
									<p:column>
										<p:rating value="#{viewProfile.ratingStars}" disabled="true" />
									</p:column>
								</p:row>

							</p:panelGrid>
						</p:layoutUnit>

						<p:layoutUnit position="center">
							<p:growl id="msgs" showDetail="true" />

							<p:fieldset legend="Basic Info" style="margin-bottom:20px;">
								<h:panelGrid columns="1" width="90%">
									<h:outputText
										value="First name: 	#{viewProfile.user.firstName}" />
									<h:outputText value="Last name: 	#{viewProfile.user.lastName}" />
									<h:outputText value="Address: 		#{viewProfile.user.address}" />
									<h:outputText value="Email: 		#{viewProfile.user.email}" />
									<h:outputFormat value="Bidcoins:	#{viewProfile.user.bidcoins}"></h:outputFormat>

									<h:commandButton value="Edit Profile" action="editProfile"
										rendered="#{viewProfile.editable}">

									</h:commandButton>

								</h:panelGrid>
							</p:fieldset>

							<p:fieldset legend="Reviews" toggleable="true" toggleSpeed="500">
								<p:ajax event="toggle" listener="#{viewProfile.handleToggle}"
									update="msgs" />

								<p:dataTable var="review" value="#{viewProfile.reviews}">
									<p:column headerText="User" width="20%">
										<h:outputText value="#{review.idAuction}" />
									</p:column>
									<p:column headerText="Rating" width="20%">
										<h:outputText value="#{review.rating}" />
									</p:column>
									<p:column headerText="Description" width="50%">
										<h:outputText value="#{review.description}" />
									</p:column>

								</p:dataTable>

							</p:fieldset>
						</p:layoutUnit>
					</p:layout>



					<!-- 					Copy until here !!!! -->

				</h:panelGroup>
			</h:form>

		</h:panelGroup>

		<!--	Footer	 -->

		<h:panelGroup styleClass="footer" layout="block">
			<div class="indentFooter"></div>
			<h:outputText value="&#169; 2014 by Accesa Java Internship"
				class="indentFooter"></h:outputText>
		</h:panelGroup>
	</div>

</body>
</html>
